div.container {
    padding: 0.5rem 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: 60% 40%;
}

/* div.divider:nth-child(2) {
    position: fixed;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 35vw;
    height: 85vh;
} */

a.link {
    color: #18181B;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

a.link:hover {
    text-decoration: underline;
}

form.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.5rem;
    margin-top: 2rem;
}

fieldset.formGroup {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

fieldset.formGroup:first-of-type {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

fieldset.formGroup:last-of-type {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

fieldset.formGroup legend.legend {
    font-size: 1.5rem;
    font-weight: 650;
    color: #18181B;
}

fieldset.formGroup legend.legend:last-of-type {
    margin-bottom: 1rem;
}

fieldset.formGroup label.label {
    font-weight: 600;
    width: 7.5rem;
}

div.legendButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* margin-bottom: 1rem; */
}

/* form.form:last-of-type fieldset.formGroup legend.legend {
    display: inline-block;
}

form.form:last-of-type fieldset.formGroup {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */

div.inputGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

select.select,
input.input {
    padding: 0.5rem 0.75rem;
    border: 1px solid #e4e4e7;
    border-radius: .375rem;
    -webkit-border-radius: .375rem;
    -moz-border-radius: .375rem;
    -ms-border-radius: .375rem;
    -o-border-radius: .375rem;
    font-size: 1rem;
    color: #18181B;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    transition: all 0.2s ease-in-out;
    width: 18rem;
}

select.select,
input.input::placeholder {
    color: rgb(113, 113, 121);
}

select.select:focus {
    outline: none;
    border: 1px solid rgb(113, 113, 121);
    color: #18181B;
}

input.input:focus {
    outline: none;
    border: 1px solid rgb(113, 113, 121);
    color: #18181B;
    caret-color: #18181B;
}

textarea.textarea {
    cursor: default;
    resize: none;
    border: 1px solid #e4e4e7;
    border-radius: .375rem;
    -webkit-border-radius: .375rem;
    -moz-border-radius: .375rem;
    -ms-border-radius: .375rem;
    -o-border-radius: .375rem;
    font-size: 1rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    padding: 0.5rem 0.75rem;
    width: 18rem;
    font-family: inherit;
}

textarea.textarea:focus {
    outline: none;
}

textarea.textarea::placeholder {
    color: #18181B;
}

div.tableContainer {
    margin-top: 2rem;
}

/* QUOTATION SECTION */

div.divider:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.divider:nth-child(2) h2 {
    font-size: 1.75rem;
    font-weight: 650;
    color: #18181B;
}

div.divider:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* border: 1px solid var(--silver);
    background-color: var(--gray-bg);
    border-radius: .75rem;
    -webkit-border-radius: .75rem;
    -moz-border-radius: .75rem;
    -ms-border-radius: .75rem;
    -o-border-radius: .75rem; */
}

div.divider:nth-child(2) div.paper {
    padding: 1rem;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem; */
    background-color: white;
    border-radius: .75rem;
    height: 80%;
    width: 85%;
    border: 1px solid #e4e4e7;
    /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1); */
    /* position: sticky;
    top: 0; */

    /* word-wrap: pre-wrap;
    white-space: normal;
    overflow: hidden; */

    display: grid;
    grid-template-rows: 13% 47% 34% 6%;
}

div.paper Button {
    margin-top: auto;
}

header.paperHeader {
    display: grid;
    place-content: center;
    grid-template-columns: 25% 45% 1fr;
    width: 100%;
    gap: 0.5rem;
}

header.paperHeader img.logo {
    width: 3.5rem;
    height: 3.5rem;
}

header.paperHeader div.paperHeaderGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header.paperHeader div.paperHeaderGroup:first-of-type {
    gap: 0.5rem;
}

header.paperHeader div.paperHeaderGroup:first-of-type span {
    font-size: 0.4rem;
    color: #18181B;
}

header.paperHeader div.paperHeaderGroup:nth-child(2) span {
    font-size: 0.8rem;
    font-weight: 650;
    color: #18181B;
    text-align: center;
}

header.paperHeader div.paperHeaderGroup:nth-child(3) {
    align-items: flex-end;
}

header.paperHeader div.paperHeaderGroup:nth-child(3) div.folioAndDate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

header.paperHeader div.paperHeaderGroup:nth-child(3) span {
    font-size: 0.65rem;
    color: #18181B;
}

header.paperHeader div.paperHeaderGroup:nth-child(3) span:first-of-type {
    font-weight: 650;
}

header.paperHeader div.paperHeaderGroup:nth-child(3) span:first-of-type>span {
    color: red;
}

table.table {
    width: 100%;
    border-collapse: collapse;
}

table.table thead tr th {
    font-size: 0.9rem;
    font-weight: 650;
    color: #18181B;
    text-align: left;
    padding: 0.5rem 0rem;
}

table.table tbody tr td {
    font-size: 0.8rem;
    font-weight: 500;
    color: #18181B;
    text-align: left;
    padding: 0.5rem 0rem;
}

footer.footer {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
}

footer.footer div.footerGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

footer.footer div.footerGroup:first-of-type div.footerGroupItem:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

footer.footer div.footerGroup:first-of-type div.footerGroupItem:is(:first-of-type, :last-of-type) span {
    font-size: 0.75rem;
    font-weight: 650;
    color: #18181B;
}

footer.footer div.footerGroup:first-of-type div.footerGroupItem:first-of-type p {
    font-size: 0.7rem;
    font-weight: 550;
    color: #18181B;
}

footer.footer div.footerGroup:first-of-type div.footerGroupItem:last-of-type p {
    font-size: 0.65rem;
    color: #18181B;
}

footer.footer div.footerGroup:last-of-type div.footerGroupItem:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
}

footer.footer div.footerGroup:last-of-type div.footerGroupItem:first-of-type span:first-of-type {
    font-size: 0.85rem;
    font-weight: 750;
    color: #18181B;
}

footer.footer div.footerGroup:last-of-type div.footerGroupItem:first-of-type span:last-of-type {
    font-size: 0.85rem;
    font-weight: 500;
    color: #18181B;
}

footer.footer div.footerGroup:last-of-type div.footerGroupItem:first-of-type div.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

footer.footer div.footerGroup:last-of-type span {
    font-size: 0.55rem;
    font-weight: 450;
    color: #18181B;
}

button.button {
    display: inline-block;
    cursor: pointer;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    padding: 0.5rem
        /*  1rem */
    ;
    border: none;
}

button.default {
    background-color: #18181B;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
